@model IEnumerable<Homework8.Models.Bid>

@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<br />
<h2 class="special-title" style="text-align: center;">REGINALD'S ANCIENT ANTIQUITIES AUCTION HOUSE</h2>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Make a listing</h3>
            <label>
                Auction off your valuables, please.
            </label>
            @Html.ActionLink("Add an item", "Create", "Items", null, new { @class = "btn btn-secondary" })
        </div>
        <div class="col-sm-4">
            <h3>View current listings</h3>
            <label>
                Check out a list of all our great old stuff.
            </label>
            @Html.ActionLink("View all items", "Index", "Items", null, new { @class = "btn btn-secondary" })
        </div>
        <div class="col-sm-4">
            <h3>Place a bid</h3>
            <label>
                Bid on something you probably don't need.
            </label>
            @Html.ActionLink("Place a bid", "Create", "Bids", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Buyer.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMESTAMP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIMESTAMP)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>*@
        </tr>
    }

</table>