@Model  IEnumerable<HomeWork5.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ApartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.UnitNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Explanation)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Permission)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => item.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.ApartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.UnitNumber)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.Explanation)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.Permission)
        </th>
    </tr>
    }
</table>